@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@page
  margin: 0mm
  size: auto
*
  box-sizing: border-box
body
  box-sizing: content
  font-family: 'Poppins'
  margin: 0
  padding: 0
.page
  text-align: center
  transition: all 1s ease
  width: 6in
.label
  height: 4in
  overflow: hidden
  padding: .5em
  position: relative
  text-align: center
  width: 6in
  &:after,
  &:before
    content: 'NOT FOR SALE'
    font-weight: bold
    pointer-events: none
    position: absolute
    transform: rotate(-45deg)
    bottom: 53px
    right: 0
.content
  border: none
  display: block
  font-family: 'Poppins'
  font-size: 1.1em
  text-align: center
  margin: .3em auto
  width: 100%
  &:focus-visible
    outline: none
  &:placeholder-shown
    background: #ffe2e2
#title
  font-size: 50px
  font-weight: 500
#description
  font-weight: 600
.desc
  font-size: 16px
  font-weight: 300
  left: 50%
  margin: 0
  max-width: calc(100% - 1em)
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
  width: 100%
.image
  bottom: 40px
  left: 50%
  position: absolute
  text-align: center
  transform: translate(-50%, 0)
  width: 80px
footer
  background: white
  border-top: 1px solid #c8c8c8
  bottom: 0
  position: absolute
  width: 100%
.sharelink
  padding: 0.5em
  &:empty
    padding: 0
@media only print
  footer
    display: none
  .content:focus-visible
    background: none
@media only screen
  body
    background-color: #ddd
  .label
    background: white
    border-radius: 20px
    box-shadow: inset 0px 0 5px rgba(0, 0, 0, 0.05)
